*{
    margin:0;
    padding: 0;
    text-decoration: none;
}
body {
    /* padding-top:60px; */
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
}

.container{
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    text-align: center;
    margin: auto auto;
}
h1 {
    padding-bottom:30px;
    color: #0066c0;
    text-align: center;
    margin: 20px 0;
}
p{
    margin-bottom: 20px;
}
label {
    font-size: 20px;
    margin-bottom: 5px;
    display: block;
}
 input, button{
    height: 30px;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline:none;
    margin: 15px auto;
    padding: 0 15px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    max-width: 300px;
}
button {
    background-color: #0066c0;
    color: white;
    cursor: pointer;
}
.error {
    border-color: red;
    margin-bottom: 10px;
}

.error-message {
    color: red;
    font-size: 14px;
}
#contenedor-header{
    display: flex;
    flex-direction: row;
    height:100px;
    width:100%;
    border: 2px solid gray;  

}
.logo{
    height: 100%;
    width:250px;
    border: 2px solid gray;  
}
nav ul{
    display: flex;
    flex-direction: row;
    height: 100%;
}
nav ul li{
    width: 100px;
    height: 100%;
    list-style: none;
    margin: auto auto;
    display: flex;
    justify-content: center;
    align-items: center;
}